*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;

}
body{
    background: #001e4d;
}
.app{
    background-color:#ebe3e3;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 10px #9a8c98, 0 0 20px #9a8c98, 0 0 30px #9a8c98;
    }
    50% {
      box-shadow: 0 0 20px #9a8c98, 0 0 30px #9a8c98, 0 0 40px #9a8c98;
    }
    100% {
      box-shadow: 0 0 10px #d98bcd, 0 0 20px #9a8c98, 0 0 30px #9a8c98;
    }
  }
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 700;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 700;
}
.answer{
    background: #fff;
    color: #222;
    font-weight: 700;
    border: 1px solid #222;
    width: 100%;
    padding: 10px;
    margin:10px 0 ;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all ;
}
.answer:hover:not([disabled]){
    background: #222;
    color: #fff;

}
.answer:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 700;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    animation: glow 2s infinite;
    display: none;
}
.currect{
    background: #9aeadc;
}
.incurrect{
    background: #ff9393;
}
